{% extends 'base.html.twig' %}

{% block title %}Modifier l'Ingrédient{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier l'Ingrédient</h1>

        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.stock) }}
            <button class="btn btn-primary">Enregistrer les modifications</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
